// -----------------------------------------------------------------------------
// This file contains global Sass variables.
// And override vendor's variables.
// -----------------------------------------------------------------------------


/// Base font size
/// @type Size
$base-font-size: 16px;


/// Container's maximum width
/// @type Length
$container-max-width: 1180px;
/// Container's padding
/// @type Length
$container-padding: 20px;


/// MQ Breakpoint list override
/// @type Map
$mq-breakpoints: (
    sm: 320px,
    md: 740px,
    lg: 980px,
    xl: 1300px
);


/// RFS breakpoint override
/// @type Size
$rfs-breakpoint: map-get($mq-breakpoints, xl);
/// RFS factor override
/// @type Number
$rfs-factor: 10;
